// Colors
$bg-white: #FFF8FC;
$primary-pink: #E20074;
$secondary-pink: #b00058;
$primary-black: #111111;
$secondary-black: #666666;
$primary-gray: #F2E9EE;

$blue: #278BE7;
$green: #1FB12E;
$red: #DA1515;

// font sizes
$main-title: 22px;
$large-title: 20px;
$medium-title: 17px;
$large-desc: 15px;
$main-desc: 13px;
$small-desc: 11px;

// heights
$input-height: 48px;
