// Colors
$bg-white: #F5EEF2;
$primary-pink: #E20074;
$primary-gray: #DCCDD5;
//$secondary-gray: #A1A1A1;
//$light-gray: #E9EBEF;
//$heavy-gray: #677181;

// font sizes
$main-title: 22px;
$large-title: 20px;
$medium-title: 17px;
$main-desc: 13px;
$small-desc: 11px;

// heights
$input-height: 48px;
